
.reg nav{
    position: relative;
    height: 0.8rem;
    line-height: 0.8rem;
    background-color: orange;
    text-align: center;
    color: white;
}
.reg nav div{
    float: left;
    margin-left: 0.2rem;
}
.reg .reg{
    position: absolute;
    right: 0.3rem;
    top: 0.25rem;
    color: white;
}
.reg .form{
    /* background-color: wheat; */
    background-color: #fff;
    box-sizing: border-box;
    height: 93vh;
    padding: 2rem 0.6rem;
}
.reg input{
    border:none;
    background-color: #fff;
}
.reg .inp{
    font-size: .25rem;
    padding: 0.5rem 0;
}
.reg button{
    width: 84vw;
    height: 0.8rem;
    border: none;
    border-radius: .2rem;
    background-color: orange;
    color: white;
    margin-top: 0.5rem;
}