.ClassGoods img{
    width: 2rem;
}
.ClassGoods nav{
    height: 0.8rem;
    background-color: orange;
    line-height: 0.8rem;
    color: white;
    text-align: center;
}
.ClassGoods li {
    padding-left: 0.3rem;
   overflow: hidden;
   margin: 0.2rem 0;
}
.ClassGoods li div,img{
    float: left;
}
.ClassGoods li div{
    margin-left: 0.2rem;
}
.ClassGoods li div p{
    margin: 0.1rem 0;
}
.ClassGoods li div .price{
   color: red;
   margin-bottom: .4rem;
}
.ClassGoods li div span{
    padding: .1rem 0.2rem;
   background-color: orange;
   border-radius: .1rem;
   color: white;
}
